## {ecs} Field Reference

This is the documentation of ECS version {{ ecs_generated_version }}.

ECS defines multiple groups of related fields. They are called "field sets".
The [Base](#ecs-base) field set is the only one whose fields are defined
at the root of the event.

All other field sets are defined as objects in {es}, under which
all fields are defined.

For a single page representation of all fields, please see the
[generated CSV of fields]({ecs_github_repo_link}/generated/csv/fields.csv).

### Field Sets

| Field Set  | Description |
|------------|------------|
{% for fieldset in fieldsets %}
| [{{ fieldset['title'] }}](#ecs-{{ fieldset['name'] }}) | {{ fieldset.get('short', fieldset['description']) }} |
{% endfor %}

[See field details](field-details.md)

